@import "fonts.css";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    outline: none;
}

a {
    font-family: MR, sans-serif;
    color: black;
}

body {
    background-color: #F8F8FF;
}

h1 {
    font-size: 64px;
    line-height: 80px;
    font-family: MB, sans-serif;
}

h2 {
    font-size: 36px;
    line-height: 50px;
    font-family: MSB, sans-serif;
}

h4 {
    font-size: 20px;
    line-height: 28px;
    font-family: MSB, sans-serif;
}

p {
    font-size: 18px;
    line-height: 24px;
    font-family: MR, sans-serif;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #F8F8FF;
    -webkit-box-shadow: 6px 11px 28px 0px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 6px 11px 28px 0px rgba(0, 0, 0, 0.68);
    box-shadow: 6px 11px 28px 0px rgba(0, 0, 0, 0.68);
    padding: 0 20px;
    z-index: 22;

}


.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content > nav > ul {
    display: flex;
    gap: 10px;
}

.header__content > nav > ul a {
    font-family: MR, sans-serif;
    color: black;
    padding: 20px 10px;
    transition: 300ms;
}

.header__content > nav > ul a:hover {
    background-color: black;
    color: white;
}

.search {
    display: flex;
    gap: 20px;
    align-items: center;
}

.search-input {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 13px;
    box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.24);
    padding: 0px 10px;
    height: 30px;
    font-family: MR, sans-serif;
    background: #F8F8FF;

}

.image-section {
    display: flex;
}

.left, .right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.left:hover .image-h1, .right:hover .image-h1 {
    opacity: 1;
    letter-spacing: 0px;
}

.image-h1 {
    color: rgba(255, 255, 255, 1);
    opacity: 0;
    position: absolute;
    font-family: MB, sans-serif;
    letter-spacing: -30px;
    transition: letter-spacing 400ms;
    background: rgba(0, 0, 0, .6);
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 64px;
}

.products {
    width: 100%;
    display: flex;
    padding: 50px 0 100px;
}

.filters {
    width: 20%;
}

.products-side {
    width: 80%;
}

.product-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.card, .card2 {
    transition: 0.3s;
    max-width: 24%;
}

.card:hover, card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.card-text {
    padding: 5px 10px;
}

.card img {
    height: 200px;
}

.card2 img {
    height: 250px;
}

label {
    font-family: MR, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.product-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px;
}

.select-div {
    gap: 20px;
    display: flex;
    align-items: center;
}

select {
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 8px;
    font-family: MR, sans-serif;
    background: #F8F8FF;
}

.footer {
    width: 100%;
    background: black;
    color: white;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_links {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footer_links ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fa-brands {
    margin-right: 10px;
}

.footer a {
    color: white;
    font-family: MR, sans-serif;
}

